/*

============================================================ 
==================== Lucus 自制API   =======================
============================================================ 
===================== step事件动画  ======================== 
FromRollLeft：3step 1进入动画，2变大透明，3缩小消失。
从左侧滚入。
FromRollRight：3step 1进入动画，2变大透明，3缩小消失。
从右侧滚入。
============================================================
===================== 自动播放动画  ======================== 
.FromLeftRollWord：2s 从左侧滑入。
.FromRightRollWord：2s 从右侧滑入。
============================================================
 */



 html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
    }
    body,
    div,
    p {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    body{
        width: 100%;
        *cursor: default;
        overflow: hidden;
        font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    }
    #Loading{
        width: 100%;
        height: 100%;
        display: block;
        background: #666;
        position: fixed;
        z-index: 9999;
    }
    #Loading:before{
        content: " ";
        width: 100px;
        height: 100px;
        display: block;
        background: rgba(255,255,255,.0);
        position: absolute;
        left: calc(50vw - 70px);
        top: calc(50vh - 140px);
        border-radius: 50%;
        border: 20px solid rgba(255,255,255,.2);
        border-left: 20px solid #FFF;
        animation: AlwaysRoll 0.8s infinite;
    }
    #Loading:after{
        content: "精彩即将呈现";
        position: absolute;
        left: calc(50vw - 50px);
        top: calc(50vh + 20px);
        color: #fff;

    }
    -webkit-@keyframes AlwaysRoll{
        from{
           -webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    -moz-@keyframes AlwaysRoll{
        from{
            -webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    @keyframes AlwaysRoll{
        from{
            -webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    #music{
        z-index: 9;
        width: 30px;
        height: 30px;
        position: fixed;
        right: 10px;
        top: 0px;
        padding: 10px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .onaudio{
        background: url(../img/normalmusic.svg);
        
    }
    .offaudio{
        background: url(../img/normalmusic.svg);
    }
.pre-wrap {
    width: 24px;
    height: 14px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -7px;
    z-index: 100;
    -webkit-animation: keepWagglemin 1.5s infinite ease-in-out;
    -moz-animation: keepWagglemin 1.5s infinite ease-in-out;
    animation: keepWagglemin 1.5s infinite ease-in-out;
}
-webkit-@keyframes keepWagglemin{
    from{
        bottom: 10px;
        opacity: .3;
    }
}
-moz-@keyframes keepWagglemin{
    from{
        bottom: 10px;
        opacity: .3;
    }
}
@keyframes keepWagglemin{
    from{
        bottom: 10px;
        opacity: .3;
    }
}
.pre-box1, .pre-box2 {
    height: 15px;
    width: 11px;
    position: absolute;
    top: -5px;
    overflow: hidden;
}
.pre1, .pre2 {
    width: 14px;
    height: 5px;
    position: absolute;
    box-shadow: 1px -1px 1px #646464;
    top: 5px;
}
.pre1, .pre2{
    border-radius: 2px;
    background-color: #fff;
}
.pre1 {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
    left: 1px;
}
.pre2 {
    left: -4.5px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}
.pre-box2 {
    left: 10px;
}







    #pageContain {
        overflow: hidden;
    }
    .page {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contain {
        width: 100%;
        height: 100%;
        display: none;
        position: relative;
        z-index: 0;
    }
    .current .contain,.slide .contain {
        display: block;
    }
    .current {
        display: block;
        z-index: 1;
    }
    .slide {
        display: block;
        z-index: 2;
    }
    .swipe {
        display: block;
        z-index: 3;
        transition-duration: 0ms !important;
        -webkit-transition-duration: 0ms !important;
    }
    .page1 {
        background: url(../img/bg01.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .page2 {
        background: url(../img/bg02.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .page3 {
        background: url(../img/bg03.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .page4 {
        background: url(../img/bg04.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .page5 {
       background: url(../img/bg05.jpeg);
       background-size: cover;
       background-repeat: no-repeat;
    }
    .page6 {
       background: url(../img/bg06.jpeg);
       background-size: cover;
       background-repeat: no-repeat;
    }
    



    .pageEnd {
         background: linear-gradient(
                #64ccfc,#3e8ff2);
    }
    .pageEnd .con-img{
        width: 60%;
        border-radius: 15px;
        border: 5px solid #EAEAEA;
        background: #fff;
    }
    .pageEnd .con-img img{
        box-shadow: none;
        border-radius: 0;
    }
    .pageEnd .con-title{
        padding: 20px 50px;
    }
    .pageEnd .con-title h3,
    .pageEnd .con-title h4{
        font-weight: 500;
        color: #fff;
    }
    .pageEnd .con-title hr{
        border: 0;
        border-top: 1px solid #fff;
        width: 100%;
    }



    p {
        width: 200px;
        height: 100px;
        color:#fff;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -50px;
        opacity: 1;
        transition: all .8s ease;
        transform-origin: 50% 50%;
    }
    .page-title{
        color: rgb(103, 103, 103);
        position: absolute;
        left: calc(50vw - 130px);
        top: calc(30vh +  100px);
        font-size: 15px;
        text-align: center;
        transition: all .8s ease;
    }
    .index-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        left: calc(50vw - 100px);
        top: calc(30vh - 100px);
        transition: all .8s ease;
        -webkit-animation:FromRollBall 3s;
        -moz-animation:FromRollBall 3s;
        animation:FromRollBall 3s;
    }
    .index-img img{ 
        width: inherit;
        height: inherit;
        border-radius: inherit;
        box-shadow:0 0 0 5px rgb(189, 189, 189);
    }
    .con-img{
        max-width: 80%;
        height: auto;
        margin:50px auto;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 0;
    }   
    .con-img img{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 0 5px #fefefe;
    }
 
    .con-title{
        text-align: center;
    }
    .likePic-title h2,
    .con-title h2{
        padding:5px 20px;
        display: inline-block;
        background: rgba(116, 116, 116,.7);
        box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
        color: #fff;
        border-radius: 15px;
        font-weight: 500;
        margin:10px 0;
    }

    .likePic-img{
        max-width: 100%;
        height: auto;
        margin:10px auto;
        padding: 10px;
        margin-bottom: 0;
        position: relative;
    }
    .likePic-img > div{
        width: 65%;
        transform: translateX(-300px);
        position: absolute;
        left: 63px;
        top: 100px;
    }
    .likePic-img > div:nth-child(2){
        left: 49px;
        top: 62px;
    }
    .likePic-img > div:nth-child(3){
        left: 28px;
        top: 33px;
    }
    .likePic-img img{
        width: 100%;
        box-shadow: 0 0 0 5px #fff;
        transform:rotate(10deg);
    }
    .likePic-img img:nth-child(2){
       transform:rotate(8deg);
    }
    .likePic-img img:nth-child(3){
        transform:rotate(6deg);
    }
    .likePic-title{
        text-align: center;
        position: absolute;
        bottom:60px;
        right: 30px;
    }












    .positionBtoR{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .positionTtoR{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .positionCtoR{
        position: absolute;
        bottom:40%;
        right: 10px;
    }
    .positionBtoL{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .positionCtoL{
        position: absolute;
        bottom: 40%;
        left: 10px;
    }
    .positionTtoL{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .positionTtoC{
        position: absolute;
        top: 10px;
        left: 40%;
    }
    .positionBtoC{
        position: absolute;
        bottom: 10px;
        left: 40%;
    }



    
    .FromLeftRollWord{
        -webkit-animation: FromLeftRollWord 2s;
        -moz-animation: FromLeftRollWord 2s;
        animation: FromLeftRollWord 2s;
    }
    .FromRightRollWord{
        -webkit-animation:FromRightRollWord 2s;
        -moz-animation:FromRightRollWord 2s;
        animation:FromRightRollWord 2s;
    }
    .FromTopRollWord{
        -webkit-animation:FromTopRollWord 2s;
        -moz-animation:FromTopRollWord 2s;
        animation:FromTopRollWord 2s;
    }
    .FromBottomRollWord{
        -webkit-animation:FromBottomRollWord 2s;
        -moz-animation:FromBottomRollWord 2s;
        animation:FromBottomRollWord 2s;
    }
    @keyframes FromRollBall{
        from{
            transform:translateX(300px) rotate(360deg);
        }
    }
    @keyframes FromLeftRollWord{
        from{
            transform:translateX(-400px);
        }
     }
     @keyframes FromRightRollWord{
        from{
            transform:translateX(400px);
        }
     }
     @keyframes FromTopRollWord{
        from{
            transform:translateY(-400px);
        }
     }
     @keyframes FromBottomRollWord{
        from{
            transform:translateY(400px);
        }
     }


     -webkit-@keyframes FromRollBall{
        from{
            transform:translateX(300px) rotate(360deg);
        }
    }
      -webkit-@keyframes FromLeftRollWord{
        from{
            transform:translateX(-400px);
        }
     }
    -webkit-@keyframes FromRightRollWord{
        from{
            transform:translateX(400px);
        }
     }
      -webkit-@keyframes FromTopRollWord{
        from{
            transform:translateY(-400px);
        }
     }
     -webkit-@keyframes FromBottomRollWord{
        from{
            transform:translateY(400px);
        }
     }
    


     -moz-@keyframes FromRollBall{
        from{
            transform:translateX(300px) rotate(360deg);
        }
    }
      -moz-@keyframes FromLeftRollWord{
        from{
            transform:translateX(-400px);
        }
     }
    -moz-@keyframes FromRightRollWord{
        from{
            transform:translateX(400px);
        }
     }
      -moz-@keyframes FromTopRollWord{
        from{
            transform:translateY(-400px);
        }
     }
     -moz-@keyframes FromBottomRollWord{
        from{
            transform:translateY(400px);
        }
     }
    
    .ADelay1{
        animation-delay: .5s;
    }
    .ADelay2{
        animation-delay: 1s;
    }
    .ADelay3{
        animation-delay: 1.5s;
    }
    .ADelay4{
        animation-delay: 2s;
    }

    .ToLinear{
        animation-name: ToLinearLeft;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        /* Firefox: */
        -moz-animation-name: ToLinearLeft;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        /* Safari 和 Chrome: */
        -webkit-animation-name: ToLinearLeft;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
    }
    -webkit-@keyframes ToLinearLeft{
       to{
            transform:translateX(0px);
       }
    }
    -moz-@keyframes ToLinearLeft{
       to{
            transform:translateX(0px);
       }
    }
    @keyframes ToLinearLeft{
       to{
            transform:translateX(0px);
       }
    }




    .keepRotate{
        -webkit-animation:KeepRotate 3s infinite linear;
        -moz-animation:KeepRotate 3s infinite linear;
        animation:KeepRotate 3s infinite linear;
    }
    -webkit-@keyframes KeepRotate{
        to{
           -webkit-transform: rotate(359deg);
           transform:rotate(359deg);
        }
     }
    -moz-@keyframes KeepRotate{
        to{
           -webkit-transform: rotate(359deg);
           transform:rotate(359deg);
        }
     }
     @keyframes KeepRotate{
        to{
           -webkit-transform: rotate(359deg);
           transform:rotate(359deg);
        }
     }
    .keepWaggle{
        -webkit-animation:KeepWaggle 1.5s infinite ease-in-out;
        -moz-animation:KeepWaggle 1.5s infinite ease-in-out;
        animation:KeepWaggle 1.5s infinite ease-in-out;
    }
    -webkit-@keyframes KeepWaggle{
       from{
            transform:translateY(40px);
       }
       50%{
        transform:translateY(0px);
       }
       to{
            transform:translateY(40px);
       }
     }
    -moz-@keyframes KeepWaggle{
       from{
            transform:translateY(40px);
       }
       50%{
        transform:translateY(0px);
       }
       to{
            transform:translateY(40px);
       }
     }
    @keyframes KeepWaggle{
       from{
            transform:translateY(40px);
       }
       50%{
        transform:translateY(0px);
       }
       to{
            transform:translateY(40px);
       }
     }
    .keepWaggleLR{
        -webkit-animation:KeepWaggleLR 1.5s infinite ease-in-out;
        -moz-animation:KeepWaggleLR 1.5s infinite ease-in-out;
        animation:KeepWaggleLR 1.5s infinite ease-in-out;
    }
    -webkit-@keyframes KeepWaggleLR{
       from{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
       50%{
            -webkit-transform:translateX(0px);
            -moz-transform:translateX(0px);
            transform:translateX(0px);
       }
       to{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
     }
    -moz-@keyframes KeepWaggleLR{
       from{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
       50%{
            -webkit-transform:translateX(0px);
            -moz-transform:translateX(0px);
            transform:translateX(0px);
       }
       to{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
     }
    @keyframes KeepWaggleLR{
       from{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
       50%{
            -webkit-transform:translateX(0px);
            -moz-transform:translateX(0px);
            transform:translateX(0px);
       }
       to{
            -webkit-transform:translateX(40px);
            -moz-transform:translateX(40px);
            transform:translateX(40px);
       }
     }
    .scaleFromBtoS{
        -webkit-animation:ScaleFromBtoS 1.5s linear;
        -moz-animation:ScaleFromBtoS 1.5s linear;
        animation:ScaleFromBtoS 1.5s linear;
     }
    .scaleFromStoB{
        -webkit-animation:ScaleFromStoB 1.5s linear;
        -moz-animation:ScaleFromStoB 1.5s linear;
        animation:ScaleFromStoB 1.5s linear;
    }
    -webkit-@keyframes ScaleFromBtoS{
       from{
            -webkit-transform:scale(1.2);
            -moz-transform:scale(1.2);
            transform:scale(1.2);
            
       }
     }
    -moz-@keyframes ScaleFromBtoS{
       from{
            -webkit-transform:scale(1.2);
            -moz-transform:scale(1.2);
            transform:scale(1.2);
       }
     }
     @keyframes ScaleFromBtoS{
       from{
            -webkit-transform:scale(1.2);
            -moz-transform:scale(1.2);
            transform:scale(1.2);
       }
     }
    
    -webkit-@keyframes ScaleFromStoB{
       from{
            -webkit-transform:scale(.8);
            -moz-transform:scale(.8);
            transform:scale(.8);
       }
    
     }
    -moz-@keyframes ScaleFromStoB{
       from{
            -webkit-transform:scale(.8);
            -moz-transform:scale(.8);
            transform:scale(.8);
       }
    
     }
    @keyframes ScaleFromStoB{
       from{
           -webkit-transform:scale(.8);
           -moz-transform:scale(.8);
           transform:scale(.8);
       }
    
     }
    .widthStoB{
        -webkit-animation: widthStoB 1.5s linear;
        -moz-animation: widthStoB 1.5s linear;
        animation: widthStoB 1.5s linear;
    }
    -webkit-@keyframes widthStoB{
        from{
            width: 0;
        }
    }
    -moz-@keyframes widthStoB{
        from{
            width: 0;
        }
    }
    @keyframes widthStoB{
        from{
            width: 0;
        }
    }




    
