html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
    }
    body,
    div,
    p {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    body{
        width: 100%;
        *cursor: default;
        overflow: hidden;
        font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    }
    #Loading{
        width: 100%;
        height: 100%;
        display: block;
        background: #666;
        position: fixed;
        z-index: 9999;
    }
    #Loading:before{
        content: " ";
        width: 100px;
        height: 100px;
        display: block;
        background: rgba(255,255,255,.0);
        position: absolute;
        left:50%;
        top: 50%;
        margin-left: -70px;
        margin-top: -140px;
        border-radius: 50%;
        border: 20px solid rgba(255,255,255,.2);
        border-left: 20px solid #FFF;
        -webkit-animation: AlwaysRoll 0.8s  infinite linear;
        -moz-animation: AlwaysRoll 0.8s infinite linear;
        animation: AlwaysRoll 0.8s infinite linear;
    }
    #Loading:after{
        content: "精彩即将呈现";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 20px;
        margin-left: -50px;
        color: #fff;

    }
    -webkit-@keyframes AlwaysRoll{
        0%{
           -webkit-transform:rotate(359deg);
            -moz-transform:rotate(359deg);
            transform:rotate(359deg);
        }
    }
    -moz-@keyframes AlwaysRoll{
        0%{
            -webkit-transform:rotate(359deg);
            -moz-transform:rotate(359deg);
            transform:rotate(359deg);
        }
    }
    @keyframes AlwaysRoll{
        0%{
            -webkit-transform:rotate(359deg);
            -moz-transform:rotate(359deg);
            transform:rotate(359deg);
        }
    }
    #music{
        z-index: 9;
        width: 30px;
        height: 30px;
        position: fixed;
        right: 10px;
        top: 0px;
        padding: 10px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .onaudio{
        background: url(../img/normalmusic.svg);
        
    }
    .offaudio{
        background: url(../img/normalmusic.svg);
    }
.pre-wrap {
    width: 24px;
    height: 14px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -7px;
    z-index: 100;
    -webkit-animation: keepWagglemin 1.5s infinite ease-in-out;
    -moz-animation: keepWagglemin 1.5s infinite ease-in-out;
    animation: keepWagglemin 1.5s infinite ease-in-out;
}
-webkit-@keyframes keepWagglemin{
    0%{
        bottom: 10px;
        opacity: .3;
    }
}
-moz-@keyframes keepWagglemin{
    0%{
        bottom: 10px;
        opacity: .3;
    }
}
@keyframes keepWagglemin{
    0%{
        bottom: 10px;
        opacity: .3;
    }
}
.pre-box1, .pre-box2 {
    height: 15px;
    width: 11px;
    position: absolute;
    top: -5px;
    overflow: hidden;
}
.pre1, .pre2 {
    width: 14px;
    height: 5px;
    position: absolute;
    box-shadow: 1px -1px 1px #646464;
    top: 5px;
}
.pre1, .pre2{
    border-radius: 2px;
    background-color: #fff;
}
.pre1 {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
    left: 1px;
}
.pre2 {
    left: -4.5px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}
.pre-box2 {
    left: 10px;
}







    #pageContain {
        overflow: hidden;
    }
    .page {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contain {
        width: 100%;
        height: 100%;
        display: none;
        position: relative;
        z-index: 0;
    }
    .current .contain,.slide .contain {
        display: block;
    }
    .current {
        display: block;
        z-index: 1;
    }
    .slide {
        display: block;
        z-index: 2;
    }
    .swipe {
        display: block;
        z-index: 3;
        transition-duration: 0ms !important;
        -webkit-transition-duration: 0ms !important;
    }
    .page1 {
         background: linear-gradient(
                #64ccfc,#3e8ff2);
    }
    .page2 {
        background: linear-gradient(
               #6fedd1,#4abfb7);
    }
    .page3 {
         background: linear-gradient(
               #f38e65,#f2686d);
    }
    .page4 {
         background: linear-gradient(
                #fecd70,#ec8d2c);
    }
    .page5 {
        background: #00ff00;
    }
    .page6 {
        background: #22ffff;
    }
    



    .pageEnd {
         background: linear-gradient(
                #64ccfc,#3e8ff2);
    }
    .pageEnd .con-img{
        width: 60%;
        border-radius: 15px;
        border: 5px solid #EAEAEA;
        background: #fff;
    }
    .pageEnd .con-img img{
        box-shadow: none;
        border-radius: 0;
    }
    .pageEnd .con-title{
        padding: 20px 50px;
    }
    .pageEnd .con-title h3,
    .pageEnd .con-title h4{
        font-weight: 500;
        color: #fff;
    }
    .pageEnd .con-title hr{
        border: 0;
        border-top: 1px solid #fff;
        width: 100%;
    }



    p {
        width: 200px;
        height: 100px;
        color:#fff;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -50px;
        opacity: 1;
        transition: all .8s ease;
        transform-origin: 50% 50%;
    }
    .page-title{
        color: rgb(103, 103, 103);
        position: absolute;
        left: 50%;
        top: 30%;
        margin-left: -130px;
        margin-top: 100px;
        font-size: 15px;
        text-align: center;
        transition: all .8s ease;
    }
    .index-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 30%;
        margin-left: -100px;
        margin-top: -100px;
        transition: all .8s ease;
        -webkit-animation:FromRollBall 3s;
        -moz-animation:FromRollBall 3s;
        animation:FromRollBall 3s;
    }
    
    .index-img img{ 
        width: inherit;
        height: inherit;
        border-radius: inherit;
        box-shadow:0 0 0 5px rgb(189, 189, 189);
    }
    .con-img{
        max-width: 80%;
        height: auto;
        margin:50px auto;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 0;
    }   
    .con-img img{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 0 5px #fefefe;
    }
 
    .con-title{
        text-align: center;
    }
    .likePic-title h2,
    .con-title h2{
        padding:5px 20px;
        display: inline-block;
        background: rgba(116, 116, 116,.7);
        box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
        color: #fff;
        border-radius: 15px;
        font-weight: 500;
        margin:10px 0;
    }

    .likePic-img{
        max-width: 100%;
        height: auto;
        margin:10px auto;
        padding: 10px;
        margin-bottom: 0;
        position: relative;
    }
    .likePic-img > div{
        width: 65%;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
        position: absolute;
        left: 63px;
        top: 100px;
    }
    .likePic-img > div:nth-child(2){
        left: 49px;
        top: 62px;
    }
    .likePic-img > div:nth-child(3){
        left: 28px;
        top: 33px;
    }
    .likePic-img img{
        width: 100%;
        box-shadow: 0 0 0 5px #fff;
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);
    }
    .likePic-img img:nth-child(2){
       -webkit-transform:rotate(8deg);
       transform:rotate(8deg);
    }
    .likePic-img img:nth-child(3){
        -webkit-transform:rotate(6deg);
        transform:rotate(6deg);
    }
    .likePic-title{
        text-align: center;
        position: absolute;
        bottom:60px;
        right: 30px;
    }





    .positionBtoR{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .positionTtoR{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .positionCtoR{
        position: absolute;
        bottom:40%;
        right: 10px;
    }
    .positionBtoL{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .positionCtoL{
        position: absolute;
        bottom: 40%;
        left: 10px;
    }
    .positionTtoL{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .positionTtoC{
        position: absolute;
        top: 10px;
        left: 40%;
    }
    .positionBtoC{
        position: absolute;
        bottom: 10px;
        left: 40%;
    }



    




    
