*{
    padding:0;
    margin:0;
}
a:hover{
    color: #ccc !important;
    text-decoration: none;
}
body{
background: #f7f5f2;
font-family: 微软雅黑;
}
li{
    list-style: none;
}
.mainBgc{
    background-color: #a62a0e;
}
.navbar-default .navbar-brand ,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .navbar-nav>.active>a:hover{
    color: #e0dccb;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background: #e3460f;
}
.btn{
    border-radius: 0;
    color: #e0dccb;
}
 .carousel-box{
    width: 100%;
    height: 600px;
    overflow: hidden;
 }
.carousel-box img{
    width: 100%;
    height: 600px;
}
.navbar{
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-nav{
    font-size: 18px;
    font-weight: 600;
    font-family: 微软雅黑;
}
.nav-logo{
    width: 40px;
    height: 40px;
    margin-top: -10px;
    float: left;
}
#header .carousel-indicators li{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    box-shadow: 0 1px 1px rgba(255,255,255,0.4),
                inset 0 1px 1px rgba(0,0,0,0.1), 
                0 0 0 2px rgba(255,255,255,0.5);
    
    background: rgba(150,150,150,0.1);
    border:0px !important;
}
#header .carousel-indicators li:hover{
    box-shadow: 0 1px 1px rgba(255,255,255,0.4), 
                inset 0 1px 1px rgba(0,0,0,0.1), 
                0 0 0 5px rgba(255,255,255,0.5);
}
#header .carousel-indicators .active{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    box-shadow: 0 1px 1px rgba(255,255,255,0.4), 
                inset 0 1px 1px rgba(0,0,0,0.1), 
                0 0 0 5px rgba(255,255,255,0.5);
    background-color: transparent !important;
    background-image:url(../img/dot.png);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}
/*header End*/

.bottom,
.page-head{
    background-color: #e0dccb;
}
.head-title{
    font-size: 72px;
    color: #fff;
    letter-spacing:8px;

}
.head-text span{
    font-weight: bold;
    font-size: 25px;
}
.head-title span{
    color: #a62a0e;
}
.page-head,
.page-section,
.bottom,
.page-spacer{
    padding: 30px 0 30px 0;
}
.sticky{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}
.sticky ~ .container .navbar-brand .logo-name{
    opacity: 1;
}
.logo-name{
    float: left;
    width: auto;
    height: 50px;
    margin-top: -15px;
    opacity: 0;
}
.logo-name-show{
    opacity: 1;
}
.page-head-bottom{
    width: 0;
    border-top: 20px solid #e0dccb;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
/*about Begin*/


.bottom h4,
.bottom p,
.page-spacer p{
    text-align: center;
}
.about-info{
    line-height: 35px;
}
.about-info h4{
    font-weight: bold;
    font-size: 24px;
}
.about-bottom-title{
    margin-top: 50px;
    font-weight: bold;
}
.about-bottom-list li{
   float: left;
   margin-top: 20px;
   margin-left: 30px;
   text-align: center;
   margin-bottom: 30px;
}

.team-wrapper{
    width: 50%;
    height: 150px;
    position: relative;
    float: left;
    background-color: #ebebeb;
}
.team-wrapper:hover > .avatar-left{
    left: 50%;
}
.team-wrapper:hover > .avatar-right{
    right: 50%;
}
.team-desc,
.team-avatar{
    width: 50%;
    height: 100%;
}
.team-desc{
    color: #fff;
}
.team-desc p{
    padding: 20px;
}
.avatar-right{
    right: 0;
}
.avatar-left{
    left: 0;
}
.team-avatar{
    position: absolute;
    top: 0; 
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.team-avatar img{
    height: 100%;

}
/*about End*/

/*activity Begin*/
.carousel-indicators-1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 40%;
    margin-bottom: 0;
}

.carousel-indicators-1 li{
    width: 33.3334%;
    height: 100px;
    display: block;
    float: left;
    border: 2px solid #fff;
    margin:0 !important;
    border-radius: 0 !important;
    border:0 !important;
    background-size: 100% 100% !important;
}
.carousel-indicators-img0{
    background-image: url(../img/course8.jpg);
}
.carousel-indicators-img1{
    background-image: url(../img/course7.png);
}
.carousel-indicators-img2{
    background-image: url(../img/course6.png);
}
.carousel-indicators-1>li>a{
    width: 100%;
    height: 100%;
    display: block;
    background:rgba(0,0,0,.6);
    box-shadow:  0 0 0 4px #eee;

}
#carousel-example-generic1>.carousel-indicators{
    margin:0 !important;
    
}
#carousel-example-generic1>.carousel-indicators .active {
    width: 33.3334%;
    height: 100px;
    display: block;
    float: left;
    margin-left:0 !important;
    box-shadow:none !important;
    background-color: transparent !important;
    background-size: 100% 100% !important;
    background-position: none !important;
    border-radius: 0 !important;
    border:0 !important;

}
.carousel-indicators-1 .active >a,
.carousel-indicators-1>li>a:hover{
    background:rgba(0,0,0,.1);
}
#activity .carousel-inner .item{
    height: 400px;
    background: #eee;
    overflow: hidden;
}

#activity .carousel-inner .item img{
    width: 40%;
    height:300px;
    float: left;
}
#activity .carousel{
    margin-bottom: 50px;
}
.carousel-text{
    float: left;
    height: 100%;
    width: 60%;
    padding: 50px;
    position: relative;
    background: #ebebeb;
}
.text-left-icon{
    position: absolute;
    top: 40%;
    left:-30px;
    width: 0;
    z-index: 999;
    border-right: 30px solid #ebebeb;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.carousel-btn{
    position: absolute;
    bottom: 50px;
    right: 280px;
}
.activity-btn{
    width: 150px;
    height: 30px;
    display: block;
    color: #e0dccb;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin: 0 auto;
    
}
.activity-btn-abb{
    position: absolute;
    bottom: 50px;
    left: 10%;
}
.activity-carousel-btn{
    width: 150px;
    height: 30px;
    display: block;
    color: #e0dccb;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin: 0 auto;
}
.activity-bottom-btn{
    width: 150px;

}
/*activity End*/
.course-box{
    height: 240px;
    padding: 20px;
    background-color: #e0dccb;
    margin-left: 10px;
    margin-bottom: 20px;
}
/*teacher Begin*/
.teacher-box{
    height: 320px;
    background: #e0dccb;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid #a62a0e;
    overflow: hidden;
    position: relative;
}
.teacher-box:hover >.teacher-box-info{
    opacity: 1;
    -ms-transform:translate(0,0); /* IE 9 */
    -moz-transform:translate(0,0); /* Firefox */
    -webkit-transform:translate(0,0); /* Safari and Chrome */
    -o-transform:translate(0,0); /* Opera */
    transform:translate(0,0);
}
.teacher-box-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(166,42,14,.4);
    color: #e0dccb;
    opacity: 0;
    -ms-transform:translate(0,-200px); /* IE 9 */
    -moz-transform:translate(0,-200px); /* Firefox */
    -webkit-transform:translate(0,-200px); /* Safari and Chrome */
    -o-transform:translate(0,-200px); /* Opera */
    transform:translate(0,-200px);
    -webkit-transition: all 0.4s ease-in-out;
}
.teacher-box img{
    width: auto;
    height: 200px;
}
/*teacher End*/
/*contact Begin*/
.contact-info h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-info span{
    margin-right: 10px;
}
.contact-info{
    line-height: 30px;
}
/*contact End*/
/*footer Begin*/
footer {
    background: #000;
    color: #fff;
    line-height: 30px;
}
.footCatalog {
    padding: 20px;
    background-color: #333;
    background-image: linear-gradient(to bottom, #353535 0px, #333 100%);
    background-repeat: repeat-x;
}
footer .nav-group {
    width: 15%;
    float: left;
}
footer .copyright {
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
footer .copyright .line:hover {
    color: #ccc;
}
footer .copyright .footer-logo {
    font-size: 36px;
    margin: 10px;
}
footer a:visited {
    color: #ccc;
}
footer a:hover {
    color: #ccc;
}
footer a:link {
    color: #666;
}

/*footer end*/

/*================================================================================*/
/*=============list-page==========================================================*/
/*================================================================================*/

.page-section-ListPage{
    margin-top: 20px;
}
.course-list{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}
.course-info{
  background-color: rgba(166,42,14,.2);
  width: 100%;
  height: 100%;
  display: block;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-transform:translate(100%,-300px); /* IE 9 */
  -moz-transform:translate(100%,-300px); /* Firefox */
  -webkit-transform:translate(100%,-300px); /* Safari and Chrome */
  -o-transform:translate(100%,-300px); /* Opera */
  transform:translate(100%,-300px);
  -webkit-transition: all 0.4s ease-in-out;.
  
}

.course-list:hover > .course-list-left .course-info{
    opacity: 1;
    -ms-transform:translate(0px,0px);
    -moz-transform:translate(0px,0px);
    -webkit-transform:translate(0px,0px);
    -o-transform:translate(0px,0px);
    transform:translate(0px,0px);
}
.course-list-left,
.course-list-right{
    float: left;
}
.course-list-left1{
    background-image: url(../img/course1.png);
}
.course-list-left2{
    background-image: url(../img/course2.png);
}
.course-list-left3{
    background-image: url(../img/course3.png);
}
.course-list-left4{
    background-image: url(../img/course4.png);
}
.course-list-left5{
    background-image: url(../img/course5.png);
}
.course-list-left6{
    background-image: url(../img/course6.png);
}
.course-list-left7{
    background-image: url(../img/course7.png);
}
.course-list-left8{
    background-image: url(../img/course8.jpg);
}
.course-list-left9{
    background-image: url(../img/course9.png);
}
.course-list-left10{
    background-image: url(../img/course10.png);
}

.course-list-left{
    width: 50%;
    height: 300px;
    background-size: auto 100%;
    background-position: 50% 50%;
    overflow: hidden;
}

.course-list-right{
    position: relative;
    height: 300px;
    width: 50%;
    background: #eee;
}
.course-list-icon{
    width: 0;
    height: 20px;
    border-right: 20px solid #eee;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    position: absolute;
    top: 40%;
    left: -20px;
}
.course-list-title{
   
    padding: 5px;
}
.course-list-title h2{
    padding: 10px;
    max-width:60%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
}
.course-list-text{
    padding: 15px;
    line-height: 30px;
}


/*================================================================================*/
/*=============teacher-page=======================================================*/
/*================================================================================*/
.teacher-page-header{
    margin: 30px 0 30px 0;
    height: 280px;
    overflow: hidden;
}

.teacher-page-face{
    height: 100%;
    width: 400px;
    overflow: hidden;
    float: left;
}
.teacher-page-title{
    float: left;
    padding: 20px;
    position: relative;
    height: 280px;
    background-color: #eee;
    width: 740px;
}
.teacher-page-header-icon{
    width: 0;
    height: 20px;
    border-right: 40px solid #eee;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    position: absolute;
    top: 100px;
    left: -40px;
}
.teacher-page-title h4{
    padding:10px 20px 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    max-width: 100%;
    box-shadow: 2px 5px 5px rgba(0,0,0,.2)
}
.teacher-content-titlename{
    padding:10px 20px 10px 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    box-shadow: 2px 5px 5px rgba(0,0,0,.2);
    margin-bottom: 30px;
}
.teacher-content-box{
    min-height: 200px;
    width: 100%;
    display: block;
    background-color: #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.teacher-content-box p{
    margin-left: 30px;
}


/*================================================================================*/
/*=============course-page=======================================================*/
/*================================================================================*/
.course-page-face{
    height: 280px;
    width: 400px;
    overflow: hidden;
    float: left;
    background-color: #ebebeb;
}
.xyclass-list{
    margin-top: 10px;
    margin-left: 5px;
}
.xyclass-list li{
    width: 180px;
    margin-left: 10px;
    float: left;
    background-color: #a62a0e;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
}
.xyclass-list li > a{
    color: #fff;
    font-weight: bold;
}
.course-page-header-icon{
    width: 0;
    height: 20px;
    border-left: 40px solid #ebebeb;
    border-bottom: 40px solid transparent;
    border-top: 40px solid transparent;
    position: absolute;
    top: 100px;
    left: 0px;
}
.course-page-title{
    float: left;
    position: relative;
    height: 280px;
    background-color: #fff;
    width: 740px;
    position: relative;
}
.course-page-title h4{
    padding:10px 20px 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}